<!DOCTYPE html>
<html>
    <head>
        <title>{{ question[4]}} </title>
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    </head>
    <body>
        <a id="main-header" href="/"><h1>AskMate</h1></a>
        <div id="content-wrapper">
            <div id="question-wrapper">
                <h3 id="question">{{ question[4] }} </h3>
                <p id="question-desc">{{ question[5] }} </p>
                <div id="question-all-data">
                {% if question[6] %}
                    <p><a href="/static/{{ question[6] }}"><img src="/static/{{ question[6] }}" width="60" alt="Image"></a></p>
                {% endif %}

                    <p id="question-data"> /
                        views: {{ question[2] }},
                        votes: {{ question[3] }},
                        {{ question[1] }}
                        /
                    </p> 
                </div>

        {% if new_answer==False %}

        {% if tags %}
            <div id="tags">
                <ul>
                {% for tag in tags %}
                    <li>{{ tag[1] }}</li>
                    <a href="/question/{{ question[0] }}/tag/{{ tag[0] }}/delete"><img src="/static/icons/red_X.png" width="15" height="15" alt="display_question"></a>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
        
            <p class="button">
                <a href="/question/{{ question[0] }}/new-tag"> Add a tag </a>
            </p>
        {% if comments %}
            <div id="comments">
                <h4>Comments:</h4>
                <ul>
                {% for comment in comments %}
                    <li>
                        <p>{{ comment[3] }}<br>

                            
                            <p id="comment-data">/ {{ comment[4] }} /</p>
                        </p>
                            
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
                <p class="button">
                    <a href="/question/{{ question[0] }}/new-comment"> Add a comment </a>
                </p>
            </div>

            {% if answer_count %}
            <div id="answers">     
                <h3>{{ answer_count }} answer{% if answer_count > 1 %}s{% endif %}:</h3>
            {% endif %}
                <ul>
                {% for answer in answers %}
                    <li>
                        <p>{{ answer[4] }}<br>

                            {% if answer[5] %}
                                <a id="image"href="/static/{{ answer[5] }}" target="_blank"><img src="/static/{{ answer[5] }}" width="60" alt="Image"></a><br>
                            {% endif %}
                            <p id="answer-data">
                                / votes: {{ answer[2] }},
                                {{ answer[1] }}
                            /
                            </p>
                        </p>     
                    </li>
                {% endfor %}
                </ul>
                <p class="button"><a id="new_answer" href='/question/{{question[0]}}/new_answer'>New Answer</a></p>
            <p class="back-button"><a id="back" href="/"> <-- Back to questions</a></p>
            {% else %}
                <br>
                <form action="{{ url_for('display_q_and_a', question_id=question[0]) }}" method="post" class="new_answer">
                    <label for="new_answer">Your Answer:</label><br>
                    <p><textarea name="new_answer" id="new_answer" required minlength="10" rows="4" cols="47"></textarea></p>
                    <label for="user">Choose User:</label> <br>
                        <select name="user" id="user">
                        {% for user in users %}
                        <option value= {{ user[0] }}>{{ user[1] }}</option>
                        {% endfor %}
                        </select>
                    </p>
                    <p><input type="submit" id="submit" value="Send"><p>
                </form>
            </div>
            <p class="back-button"><a id="back" href="/question/{{question[0]}}"><-- Back to question</a></p>
            {% endif %}
            
        </div>
    </body>
</html>