<!DOCTYPE html>
<html>
    <head>
        <title>{{ question[4]}} </title>
    </head>
    <body>
        <h1>AskMate</h1>
        <h2>Question:</h2>
        <h3>{{ question[4] }} </h3>
        <p>{{ question[5] }} </p>
        <p>
            {% if question[6] %}
                <p><a href=""><img src="/static/{{ question[6] }}" width="60" alt="Image"></a></p>
            {% endif %}

            / answers: {{  answer_count }},
            views: {{ question[2] }},
            votes: {{ question[3] }},
            {{ question[1] }}
            /
        </p>

        {% if new_answer==False %}
        {% if answer_count %}
        <h2>Answers:</h2>
        {% endif %}
        <ul>
        {% for answer in answers %}
            <li>
                <p>{{ answer[4] }}<br>

                    {% if answer[5] %}
                        <a href="/static/{{ answer[5] }}" target="_blank"><img src="/static/{{ answer[5] }}" width="60" alt="Image"></a><br>
                    {% endif %}
                    / votes: {{ answer[2] }},
                    {{ answer[1] }}
                    /
                </p>
                <br>
                    
            </li>
        {% endfor %}
        </ul>
        <button type="button" id="new_answer" 
                onclick="window.location.href='/question/{{question[0]}}/new_answer'">New Answer</button><br>
        {% else %}
        <br>
        <form action="{{ url_for('display_q_and_a', question_id=question[0]) }}" method="post" class="new_answer">
            <label for="new_answer">Your Answer:</label><br>
            <textarea name="new_answer" id="new_answer" required minlength="10" rows="4" cols="47"></textarea><br><br>
            <input type="submit" id="submit" value="Send">
        </form>
        {% endif %}

        <p><a href="/">Back to questions</a></p>

        
        
    </body>
</html>