<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='style.css') }}">
        {% if question_id %}
        <title>Add new comment</title>
        {% elif registration %}
        <title>Register new user</title>
        {% else %}
        <title>Add new question</title>
        {% endif %}
    </head>
    <body>
        <h1>AskMate</h1>
        <div id="content-wrapper">
        {% if question_id %}
            <h3>Add new comment:</h3>
            <form action='/question/{{ question_id }}/new-comment/add' method='POST'>
            <label for="comment">Your comment:</label>
            <p><textarea rows="8" cols="50" name="comment" id="comment" minlength="10" required></textarea></p>
            <label for="username">Choose user:</label><br>
            <select name="user_id" id="user_id">
                {% for user in users %}
                    <option value= {{ user[0] }}>{{ user[1] }}</option>
                {% endfor %}
            </select>
            <p><input type="submit" value="Comment" id="updated"></p>
            </form>
            <p class="back-button"><a id="back" href="/question/{{ question_id }}"><-- Back to question</a></p>
        {% elif registration %}
            <h3>Register new user:</h3>
            <form action='/registration' method='POST'>
            <label for="username">Username:</label>
            <p><textarea rows="1" cols="10" name="username" id="username" minlength="3" required></textarea></p>
            <p><input type="submit" value="Register" id="updated"></p>
            </form>
            <p class="back-button"><a id="back" href="/question"><-- Back to questions</a></p>
        {% else %}
            <h3>Add new question:</h2>
            <form action='/new_question/add' method='POST'>
                <label for="question_title"> Question title:</label>
                <p><input type="text" name="question_title" id="question_title" required></p>
                <label for="question"> Your question: </label>
                <p><textarea rows="8" cols="50" name="question" id="question" minlength="10" required></textarea></p>
                <p><input type="submit" value="ASK" id="updated"></p>
            </form>
            <p class="back-button"><a id="back" href="/"><-- Back to questions</a></p>
        {% endif %}
        </div>
    </body>
</html>