<!DOCTYPE html>
<html>
  <head>
    <title>AskMate project - List of questions</title>
  </head>
  <body>
    <h1 align="center">AskMate</h1>
    <h2 align="center">Questions</h2>
    <button type="submit" onclick="window.location.href='/new_question'">New Question</button>
    <p>
        <form action="/search" method="GET">
            <label for="q">Search: </label>
            <input type="text" name="q" id="q" size="40" maxlength="120">
            <input type="submit" value="Submit">
        </form>
    </p>
    <table border="2" bgcolor="Gainsboro">
        <tr align="center">
            <td>
                <form action="{{ url_for('listing') }}" method="POST">
                    <input type="text" name=field_name value='id' hidden>
                    <input type="submit" value="ID">
                </form>
            </td>
            <td>
                <form action="{{ url_for('listing') }}" method="POST">
                    <input type="text" name=field_name value='submission_time' hidden>
                    <input type="submit" value="Submission time">
                </form>
            </td>
            <td><strong>Answers</strong></td>
            <td>
                <form action="{{ url_for('listing') }}" method="POST">
                    <input type="text" name=field_name value='view_number' hidden>
                    <input type="submit" value="Views">
                </form>
            </td>
            <td>
                <form action="{{ url_for('listing') }}" method="POST">
                    <input type="text" name=field_name value='vote_number' hidden>
                    <input type="submit" value="Votes">
                </form>
            </td>
            <td>
                <form action="{{ url_for('listing') }}" method="POST">
                    <input type="text" name=field_name value='title' hidden>
                    <input type="submit" value="Title">
                </form>
            </td>            
            <td>
                <form action="{{ url_for('listing') }}" method="POST">
                    <input type="text" name=field_name value='message' hidden>
                    <input type="submit" value="Message">
                </form>
            </td>
            <td><strong>Image</strong></td>
        </tr>
        {% for question in questions %}
            <tr bgcolor = "White">
                <td align="center">{{question[0]}}</td>
                <td align="center">{{question[1]}}</td>
                <td align="center">{{ answer_count_list(question[0]) }}</td>
                <td align="center">{{question[2]}}</td>
                <td align="center">{{question[3]}}</td>
                <td style="word-wrap: break-word;">{{question[4]}}</td>
                <td style="word-wrap: break-word;">{{question[5]}}</td>
                <td align="center">
                {% if question[6] %}
                    <a href="/static/{{ question[6] }}" target="_blank"><img src="static/{{question[6]}}" style="width: 60px" alt="image"></a>
                {% endif %}
                </td>
                <td align="center" bgcolor="Gainsboro">
                    <a href="/question/{{question[0]}}/viewcount"><img src="/static/icons/eye_icon.png" width="40" height="40" alt="display_question"></a>
                </td> 
                <td align='center'> 
                    <a href='/question/{{question[0]}}/delete'><img src='/static/icons/trash.png' width="40" height="40" alt='delete_question'></a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if create_link %}
        <a href='/list'> Show all questions </a>
    {% endif %}
  </body>
</html>