<!DOCTYPE html>
<html>
  <head>
    <title>AskMate project - {{ user_name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  </head>
  <body>
    <h1>AskMate</h1>
    <div id="content-wrapper">
        <h2>{{ user_name }}</h2>
        <h3>Questions</h3>

        {% if questions %}
        <table border="2" bgcolor="Gainsboro">
            <tr align="center">
                <th>Submission time<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=submission_time&direction=ASC&table=question'}}" method="GET">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=submission_time&direction=DESC&table=question'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Answers</th>
                <th>Views<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=view_number&direction=ASC&table=question'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=view_number&direction=DESC&table=question'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Votes<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=vote_number&direction=ASC&table=question'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=vote_number&direction=DESC&table=question'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Question<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=title&direction=ASC&table=question'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=title&direction=DESC&table=question'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>            
                <th>Image</th>
                <th>View</th>
                <th>Delete</th>
            </tr>
            {% for question in questions %}
                <tr bgcolor = "White">
                    <td align="center">{{ question[1] }}</td>
                    <td align="center">{{ answer_count_list(question[0]) }}</td>
                    <td align="center">{{ question[2] }}</td>
                    <td align="center">{{ question[3] }}</td>
                    <td style="word-wrap: break-word;" class="title">{{ question[4] }}</td>
                    <td align="center">
                    {% if question[6] %}
                        <a href="/static/{{ question[6] }}" target="_blank"><img src="static/{{question[6]}}" alt="image"></a>
                    {% endif %}
                    </td>
                    <td align="center" class="link">
                        <a href="/question/{{question[0]}}/viewcount"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </td> 
                    <td align='center' class="link"> 
                        <a href='/question/{{question[0]}}/delete'><i class="fa fa-trash fa-3x" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No result.</p>
        {% endif %}

        <h3>Answers</h3>

        {% if answers %}
        <table border="2" bgcolor="Gainsboro">
            <tr align="center">
                <th>Submission time<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=submission_time&direction=ASC&table=answer'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=submission_time&direction=DESC&table=answer'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Question<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=question.title&direction=ASC&table=answer'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=question.title&direction=DESC&table=answer'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Votes<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=vote_number&direction=ASC&table=answer'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=vote_number&direction=DESC&table=answer'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Answer<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=title&direction=ASC&table=answer'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=title&direction=DESC&table=answer'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>            
                <th>Image</th>
                <th>View</th>
            </tr>
            {% for answer in answers %}
                <tr bgcolor = "White">
                    <td align="center">{{ answer[1] }}</td>
                    <td align="center" class="title">{{ answer[7] }}</td>
                    <td align="center">{{ answer[2] }}</td>
                    <td style="word-wrap: break-word;" class="title">{{answer[4]}}</td>
                    <td align="center">
                    {% if answer[5] %}
                        <a href="/static/{{ answer[5] }}" target="_blank"><img src="static/{{ answer[5] }}" alt="image"></a>
                    {% endif %}
                    </td>
                    <td align="center" class="link">
                        <a href="/question/{{ answer[3]}}/viewcount"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    </td>        
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No result.</p>
        {% endif %}

        <h3>Comments</h3>

        {% if comments %}
        <table border="2" bgcolor="Gainsboro">
            <tr align="center">
                <th>Submission time<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=submission_time&direction=ASC&table=comment'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=submission_time&direction=DESC&table=comment'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Question<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=question.title&direction=ASC&table=comment'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=question.title&direction=DESC&table=comment'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Answer<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=answer.message&direction=ASC&table=comment'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=answer.message&direction=DESC&table=comment'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>
                <th>Comment<br>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=comment.message&direction=ASC&table=comment'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_down.png" alt="Submit"/>
                    </form>
                    <form action="{{ url_for('user_page', user_id=user_id) + '?sort_field=comment.message&direction=DESC&table=comment'}}" method="POST">
                        <input class="arrow-icon" type="image" src="/static/icons/arrow_up.png" alt="Submit"/>
                    </form>
                </th>            
                <th>View</th>
            </tr>
            {% for comment in comments %}
                <tr bgcolor = "White">
                    <td align="center">{{ comment[4] }}</td>
                    {% if comment[7] %}
                    <td align="center" class="title">{{ comment[7] }}</td>
                    {% elif comment[10] %}
                    <td align="center" class="title">{{ comment[10] }}</td>
                    {% else %}
                    <td align="center">-</td>
                    {% endif %}
                    {% if comment[8] %}
                    <td align="center"class="title">{{ comment[8] }}</td>
                    {% else %}
                    <td align="center">-</td>
                    {% endif %}
                    <td style="word-wrap: break-word;" class="title">{{comment[3]}}</td>
                    <td align="center" class="link">
                    {% if comment[1] %}
                        <a href="/question/{{ comment[1] }}/viewcount"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    {% elif comment[9] %}
                        <a href="/question/{{ comment[9] }}/viewcount"><i class="fa fa-eye fa-3x" aria-hidden="true"></i></a>
                    {% endif %}   
                    </td>    
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No result.</p>
        {% endif %}

        <p class="button"><a id="list-users" href='/list_users'><-- Back to users</a></p>

    </div>
  </body>
</html>